div {
    border:1px solid #1982aca:
}

html,body{
    margin:0;
    padding:0;
    height: 100%;
    background-color: #560697f5; 


}

.menu{
    background-color: #000000;
    color:#ffffff;
    border: 5px solid;
    display: flex;

}
.item-menu{
list-style: none;
padding: 10px  20px;

}
.item-menu:hover{
    background-color: #14252b;
}
.link-menu{
    text-decoration: none;
    color: rgb(0, 217, 255);
    font-weight: bold;
}